/vendor/
/node_modules/
.idea/
artifact.zip
/artifact/
yarn-error.log
/.wordpress-svn
.phpcs.xml
phpcs.xml
.cache/phpcs.cache

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

.vscode/
